<%- include('partials/header'); -%>

<form
  action="/changepassword/<%= result.passwordResetToken %>/<%= result._id %>?_method=PUT"
  method="post"
>
  <h3>reset Password</h3>
  <h4><%= user.email %></h4>
  <label for="password">password</label>
  <input
    type="password"
    name="password1"
    id="password1"
    placeholder="Password"
    placeholder="Password"
    required
  />

  <label for="password">password</label>
  <input
    type="password"
    name="password2"
    id="password2"
    placeholder="confirm  password"
    required
  />

  <div class="password error"></div>

  <button id="submit">reset</button>
</form>
<script>
  var password = document.getElementById("password1");
  var confirm_password = document.getElementById("password2");

  function validatePassword() {
    if (password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity("");
    }
  }
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>

<%- include('partials/footer'); -%>
